/* fonts */
/* hind */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* Halyard display */
@import url('https://db.onlinewebfonts.com/c/c4d8819fda4c3fd79e36cedcc8d422bb?family=Halyard+Display');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fafafb;
}